*{
    margin: 0;
    padding: 0;
}
/* Estilização dashboard */

/* Estilização Menu dashboard */
#Menu_Dashboard{
    background-color: #EAEAEA;
    height: 100%;
    width: 5%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #252525;
    font-size: 15px;
    font-weight: bold;
    display: flexbox;
}
.boxes_icon{
    margin-top: 25vh;
}
.box_icon{
    background-color: #148ECCaa;
    border-style: solid;
    border-width: 3px;
    border-color: #148ECC;
    width: 80%;
    border-radius: 7px;
    margin: auto;
    margin-top: 100%;
    color:#1D1D1D;
    font-size: 13px;
}
#home_icon{
    width: 60%;
}
#graficoM_icon{
    width: 60%;
}
#graficoA_icon{
    width: 60%;
}

/* Estilização Conteudo dashboard */

#container_dashboard{
    height: 100vh;
    width: 95%;
    float: right;
}
#txt_msg{
    color: #f2f2f2;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 1%;
}
#hr_msg{
    background-color: #ffc200;
    width: 19%;
    height: 0.6%;
    border-style: none;
    margin-left: 5%;
    border-radius: 20px;
}
#card01{
    background-color: #404040;
    width: 70%;
    height: 40%;
    margin: auto;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 10px 10px 0px #0000003b ;
}
#div_card_graficos{
    background-color: #404040;
    width: 80%;
    height: 40%;
    margin: auto;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 10px 10px 0px #0000003b ;
}

#card02{
    background-color: #dddddd;
    width: 45%;
    height: 85%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
    border-radius: 20px;
}
#card03{
    background-color: #EAEAEA;
    width: 45%;
    height: 85%;
    margin-top: 2%;
    margin-right: 4%;
    float: right;
    border-radius: 20px;
}

#card01_temp{
    height: 100%;
    width: 30%;
    float: left;
}
#tempAtual{
    width: 50%;
    height: 50%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,194,0,1) 0%, rgba(255,148,13,1) 59.1% );
    border-radius: 100%;
    margin: auto;
    margin-top: 25%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    box-shadow: 10px 10px 0px #0000003b ;
    font-family: 'Josefin Sans', sans-serif;
    color: #f2f2f2;
    text-shadow: 3px 3px 0px #0000003b;
}
#img_temp_atual{
    width: 50%;
    margin-top: 10%;
}
#card01_alertas{
    background-color: #EAEAEA;
    height: 80%;    
    width: 60%;
    margin-top: 3%;
    float: left;
    border-radius: 20px;
}
#titulo_alertas{
    color: #252525;
    margin-top: 4%;
    margin-left:5%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#hr_alertas{
    background-color: #ffc200;
    width: 18%;
    margin-left:3%;
    height: 2%;
    border-style: none;
    border-radius: 20px;
}
#txt_alertas{
    color: #252525;
    margin-left:3% ;
    margin-top:3% ;
    font-family: 'Roboto', sans-serif;
}
#txt_alertas .area{
    color: #148ECC;
    font-weight: bold;
}


#body_dashboard{
    background-color: #1D1D1D;
}