@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
a{
    margin: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #f2f2f2;
}
button{
    border-radius: 15px;
    width: 70px;
    height: 30px;
    background-color: #ffc200;
    margin-left:8%;
    margin-top: 10px;
    border-color: #f2f2f2;
    color: #252525;
    font-weight: bold;
}

/* Área Menu + img do fundo */

#div_menu{
    position: fixed;
    font-size: 20px;
    width: 100%;
    height: 10%;
}
.img-fundo{
    width: 100%;
}
#links_menu{
    margin-top: 2%;
}
#div_img_logo{
    float: left;
    width: 8%;
    margin-left: 7%;
    height: 100%;
}
.img-logo{
    width: 70%;
    height: 90%;
    margin-top: 5%;
}
#btn_entrar_fundo{
    width: 8%;
    height: 4vh;
    float: right;
    margin-right: 5%;
    background-color: #f2f2f2;
    border-radius: 20px;
}
#btn_entrar_frente{
    width: 80%;
    height: 100%;
    float: right;
    margin-right: 10%;
    background-color: #ffc200;
    color: #252525;
    border-radius: 20px;
    text-align: center;
}
#p_btn_entrar{
    margin-top: 5%;
}
/* Área da Parte 'Inicio' */

#div_inicio{
    background-image: url('../img/fundo_site.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#div_solucao{
    padding-top: 300px;
    height: 40vh;
}
#solucao{
    font-size: 2em;
    color: #f2f2f2;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
.hr_solucao{
    border-style: none;
    width: 39%;
    margin: 0 auto;
    height: 3px;
    background-color: #ffc200;
}


/* Área da Parte 'Sobre Nós' */

#div_sobre{
    background-color: #252525;
    height: 200vh;
    padding: 8% 3% 3% 3%;
}
#div_sobre_conteudo{
    background-color: #ffc200;
    height: 45%;
    border-radius: 15px 15px 0 0;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.425);
}
#titulo_sobre{
    font-size: 3em;
    color: #f2f2f2;
    font-weight: 900;
    text-align: center;
    padding-top: 70px;
    text-shadow: 2px 2px black;
    font-family: 'Poppins', sans-serif;
}
#text_sobre{
    font-size: 20px;
    text-align: center;
    padding-top: 45px;
    font-weight: bold;
}
.hr_sobre_nos{
    border-color: #252525;
    width: 20%;
    margin-left: 40%;
}

/* Conteúdo Missão */

#div_missao{
    width: 200px;
    margin-left: 170px;
    margin-top: 5%;
    float: left;
}
.img-missao{
    width: 30%;
    margin-left: 33%;
}
#text_missao{
    margin-top: 10px; 
    font-weight: bold;
    text-align: center;
}

/* Conteúdo Visão */

#div_visao{
    width: 200px;
    margin-left: 150px;
    margin-top: 6.85%;
    float: left;
}
.img-visao{
    width: 30%;
    margin-left: 33%;
}
#text_visao{
    margin-top: 10px; 
    font-weight: bold;
    text-align: center;
}

/* Conteúdo Valores */

#div_valores{
    width: 200px;
    margin-left: 150px;
    margin-top: 4.9%;
    float: left;
    margin-bottom: 10%;
}
.img-valores{
    width: 30%;
    margin-left: 33%;
}
#text_valores{
    margin-top: 10px; 
    font-weight: bold;
    text-align: center;
}

/* Conteúdo Sobre Nós - Equipe */

#div_equipe{
    border-top: 4px solid #252525;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.425);
    border-radius: 4px 4px 15px 15px;
    height: 56%;
}
#div_conteudo_equipe{
    background-color: #127cb3;
    border-radius: 4px 4px 15px 15px;
    height: 100%;
} 
#titulo_equipe{
    font-size: 3em;
    color: #f2f2f2;
    font-weight: 900;
    text-align: center;
    padding-top: 19px;
    text-shadow: 2px 2px black;
    font-family: 'Poppins', sans-serif;
}
#hr_equipe{
    border-style: none;
    width: 15%;
    margin: 0 auto;
    height: 3px;
    background-color: #ffc200;
}
/* Conteúdo nomes */

.div-nomes-cima{
    height: 35%;
    margin-top: 5%;
    width: 10%;
    float: left;
    margin-left: 18%;
}
.div-matheus{
    height: 35%;
    margin-top: 5%;
    width: 10%;
    float: left;
    margin-left: 32%;
    margin-right: 20%;
}
.div-felipe{
    height: 35%;
    margin-top: 5%;
    width: 10%;
    float: left; 
}
.img-equipe-baixo{
    border-style: solid;
    height: 50%;
    border-radius: 70%;
    border-color: #252525;
    float: left;
}
.img-equipe{
    border-style: solid;
    border-radius: 50%;
    border-color: #252525;
    height: 50%;
    margin-left: 6%;
}
.text-nomes{
    font-weight: 600;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
.text-funcao{
    text-align: center;
    color: #f2f2f2;
}

/* Estilização dashboard */

/* Estilização Menu dashboard */
#Menu_Dashboard{
    background-color: #252525;
    height: 100vh;
    width: 5%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f2f2f2;
    font-size: 15px;
}

#home_icon{
    width: 60%;
    margin-top: 20vh;
}
#graficoM_icon{
    width: 60%;
    margin-top: 150%;
}
#graficoA_icon{
    width: 60%;
    margin-top: 150%;
}

/* Estilização Conteudo dashboard */

#container_dashboard{
    height: 100vh;
    width: 95%;
    float: right;
}
#txt_msg{
    color: #252525;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 1%;
}
#hr_msg{
    background-color: #ffc200;
    width: 19%;
    height: 0.7%;
    border-style: none;
    margin-left: 5%;
}
#card01{
    background-color: #252525;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 10px 10px 0px #0000003b ;
}
#div_card_graficos{
    background-color: #252525;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 10px 10px 0px #0000003b ;
}

#card02{
    background-color: #2D2C2C;
    width: 43%;
    height: 85%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
    border-radius: 20px;
}
#card03{
    background-color: #2D2C2C;
    width: 43%;
    height: 85%;
    margin-top: 2%;
    margin-right: 4%;
    float: right;
    border-radius: 20px;
}

#card01_temp{
    height: 100%;
    width: 30%;
    float: left;
}
#tempAtual{
    width: 55%;
    height: 50%;
    background-color: #ffc200;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 30%;
    text-align: center;
    font-size: 30px;
    box-shadow: 10px 10px 0px #0000003b ;
    font-family: 'Josefin Sans', sans-serif;
    color: #f2f2f2;
    text-shadow: 3px 3px 0px #0000003b;
}
#img_temp_atual{
    width: 50%;
    margin-top: 10%;
}
#card01_alertas{
    background-color: #2D2C2C;
    height: 80%;    
    width: 60%;
    margin-top: 3%;
    float: left;
    border-radius: 20px;
}
#titulo_alertas{
    color: #f2f2f2;
    margin-top: 4%;
    margin-left:5%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#hr_alertas{
    background-color: #ffc200;
    width: 18%;
    margin-left:3%;
    height: 2%;
    border-style: none;
}
#txt_alertas{
    color: #f2f2f2;
    margin-left:3% ;
    margin-top:3% ;
    font-family: 'Roboto', sans-serif;
}


#body_dashboard{
    background-color: #F2F2F2;
}
/*
cores:
    branco = #f2f2f2
    preto = #252525
    amarelo = #ffc200
    azul = #127cb3
*/